<% for(var i = 0; i < exercise.length; i++){ %>

<tr>
    <td><%= i + 1 %></td>
    <td><%= exercise[i].name%></td>
    <td><%= exercise[i].reps%></td>
    <td><%= exercise[i].sets%></td>
    <td><%= exercise[i].status%></td>
    <td>
        <a href="update-exercise?id=<%= exercise[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i> </span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= exercise[i]._id%>>
            <span class="text-gradient"><i class="fas fa-times"></i> </span>
        </a>
    </td>
</tr>
<% } %>