<%- include('./partials/header') %>

<h1>Fit4Me</h1>

<% if (!user) { %>
	<p>please login to continue</p>
<% } else { %>
	<p>Welcome, <%= user.name %> <%= user.email %></p>
	<% if (user.avatar) { %>
		<img src="<%= user.avatar %>" alt="<%= user.name %>'s avatar" />
	<% } %>
<% } %>

<h2> My Workout Plan</h2>
<button> Edit </button>

<h2>Recent Activity</h2>
<button> Add </button>

<%- include('./partials/footer') %>
